/*Sam Gibbens -- Created 5/9/17*/

*{
  min-width: 768;
  width: auto;
}
#wrapper{
  font-family: Arial;
  display: block;
  background-color: #fff;
  margin-top: 3px;

  /*----Grey Panda fixed BG------------*/
  background-image: url("imgs/pandabg.png");
  background-size: 50% 70%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 68%;
  min-height: 700px;
  min-width: 800px;
}
#header{
    background-color: #fff;
    background-image: url("imgs/panda.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    /*this adjusts header img size*/ padding-bottom: 14px;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 2px;
}


body, html{
  height: 100%;
}
body{
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
}

h2{
  text-align: center;
  font-family: ChunkFive;}

h3{
  text-align: center;
  font-size: 400%;
  color: #000;/*#1D97FE;*/
  text-decoration-style: double;
  margin-bottom: 0px;
  margin-top: 0px;
}
h4{
  display: block;
  background-size: cover;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 200%;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: none;
  font-family: cursive;
  color: pink;

}
p{
  font-size: 25em;
}

main{
  min-height: 525px;
  margin-left: auto;
  margin-right: auto;
  height: auto;

}
/*--------------------------------------*/
/*---Nav FlexBox------------------------*
/*--------------------------------------*/
.nav1{
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  background-color: #448;
  width: auto;
  height: 48px;
  padding-right: 2%;
  border: 2px solid #446;

  }
 .navitem{
   display: inline-flex;
   flex: 1;
   padding-bottom: 3px;

}


nav a:link{
  color:#000;
  text-decoration-style: double;
  text-decoration: none;
}
nav a:visited{
  color:#000;
}
nav a:hover{
  color:#000;
}


/*--------------------------------------*/
/*--Dropdown Menus----------------------*
/*--------------------------------------*/
.dropdown{
    display: inline-block;
}

/* The container <div> - needed to position the dropdown content */
.dropbtn{
    display: inline-flex;
      flex-direction: row-reverse;
      flex: 1;
      flex-wrap: nowrap;
    background-color: #1D97FE;
    border-radius: 4px;
    box-shadow: 1px 2px white;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
    opacity: 0.9;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: auto;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1; text-align: left;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: lightgray;

}

/*this skeletal layout of dropdown was copied from w3schools and completely re-edited by me.*/
/*I copied it because the comments were helpful to understand the components and their functions, my original was messy.*/
/*--------------------------------------------------------------------*/

footer{
  text-align: center;
  font-weight: lighter;
  font-style: italic;
  background-color: #446;
  color: #fff;
  padding-top: 20px;
  position: absolute;
  height: 40px;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  border-top: 2px solid lightgrey;
}


/*---------STORE PAGE-----------------*/
/*------------------------------------*/




/*-----DailyDeals Flex Series ---------*/
#DDs{
  margin-top: 2%;
  margin-bottom: auto;
  color: #000;
  font-weight: bold;
  font-size: 3em;
}
.ddcontainer{
  display: flex;
  flex-direction: column;
  min-height: 600px;
  width: 85%;
  margin-top: 0px;
  font-weight: bold;
  margin: auto;
  font-size: 7em;


}
/*30% off mens*/
.deal1{
  padding-top: 15%;
  padding-bottom: 11%;
  padding-right: 1%;
  flex: 4;
  background-image: url("imgs/deal55.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin-bottom: 10px;
  text-align: right;
}
.deal1 a:link{
  color:#fff;
  text-decoration-style: double;
  text-decoration: none;
}
.deal1 a:visited{
  color:#fff;
}
.deal1 a:hover{
  color:#fff;
}

/*15% off womens shoes*/
.deal2{
  padding-top: 50%;
  padding-bottom: 2%;
  flex: 4;
  background-image: url("imgs/deal2.png");
  padding-left: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin-bottom: 10px;
}

.deal3{
  flex: 4;
  background-image: url("imgs/item5.png");
  padding-top: 28%;
  padding-left: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin-bottom: 10px;
}


/*Store Table*/
/*30% off mens*/
.deal4{
  padding-top: 48%;
  padding-right: 1%;
  flex: 4;
  background-image: url("imgs/men1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin-bottom: 10px;
  text-align: right;
}
.deal4 a:link{
  color:#fff;
  text-decoration-style: double;
  text-decoration: none;
}
.deal4 a:visited{
  color:#fff;
}
.deal4 a:hover{
  color:#fff;
}
caption{
  font-family: arial;
  font-size: 40em;
  color: #1d97fe;
  font-weight: bold;
  background-color: lightgray;
  border: none;
  border-radius: 4px;


}

/*contact table*/

#contactform{
  line-height: 200%;
  align-items: center;
  margin-left: 10%;
  width: auto;
  max-width: 400px;
  font-size: 18em;

}

.leftfloat{
  margin: 1em;
  float: left;
}

.clear{
  clear: both;
}
label{
  display: inline-block;
  float: left;
  clear: left;
  width: 110px;
  text-align: left;
}
input{
  display: inline-block;
  float: left;
}

/*----Media Size'n'Stuff----------------*
/*--------------------------------------*/

@media only all and (max-width: 768px) {
    .divv{
      max-width: 768px;
      display: block;
    }
    html{
      display: inline-block;
      max-width: 768px;
      width: 768px;
    }
    *, body, main,.nav1, .navitem, .deal1,.deal2, .deal3, .ddcontainer, #header, #wrapper,{
        min-width: none;
        max-width: 768px;
        width: 768px;
        margin-left: 0px;
        margin-right: 0px;
        padding:  0px;
        align: center;

      }
      #wrapper{
        font-family: Arial;
        display: inline-block;
        background-color: #fff;
        margin-top: 3px;

        /*----Grey Panda fixed BG------------*/
        background-image: url("imgs/pandabg.png");
        background-size: 90% 50%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 50% 68%;
        min-height: 700px;
        min-width: 768px;
        width: 768px;
        }
                    #header{
                      width: 80%;
                      margin-left: auto;
                      margin-right: auto;
                      padding-left: 5%;
                      max-width: 768px;
                    }


                    body, main, div{
                      max-width: 800px;
                      margin-left: 0px;
                      margin-right: 0px;
                    }
                    footer{
                      clear: both;
                      width: 100%;
                      padding: 0px;
                      text-align: center;
                      max-width: 800px;
                    }

                    .nav1, nav{
                        display: flex;
                        flex-direction: row;
                        padding: 0px;
                        background-color: #448;
                        width: 768px;
                        height: 48px;
                        border: 2px solid #446;
                        align-items: center;
                        align-content: center;
                        max-width: 768px;
                        }
                    .navitem{
                         flex: 1;
                         padding-bottom: 3px;
                         align-content: center;
                         margin-left: auto;
                         margin-right: auto;
                         width: auto;

                      }
                    .dropdown{
                        display: inline;
                        width: auto;
                    }
                    /* The container <div> - needed to position the dropdown content */
                    .dropbtn{
                        display: flex;
                          flex-flow: row;
                          flex: 1;
                          text-align: left;
                        background-color: #1D97FE;
                        border-radius: 4px;
                        box-shadow: 1px 2px white;
                        color: white;
                        text-decoration: none;
                        font-weight: bold;
                        cursor: pointer;
                        height: auto;
                        opacity: 0.9;

                    }
                    /* Links inside the dropdown */
                    .dropdown-content a {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                        text-align: left;
                    }
                    /* Show the dropdown menu on hover */
                    .dropdown:hover .dropdown-content {display: block;}


                    }

                    /*this skeletal layout of dropdown was copied from w3schools and completely re-edited by me.*/
                    /*I copied it because the comments were helpful to understand the components and their functions, my original was messy.*/
                    /*--------------------------------------------------------------------*/





/*Sources
many images----https://www.google.com/search?biw=1172&bih=659&tbm=isch&sa=1&q=hip+indie+dark+mens&oq=hip+indie+dark+mens&gs_l=psy-ab.3...2974.2974.0.3225.1.1.0.0.0.0.61.61.1.1.0....0...1.1.64.psy-ab..0.0.0.i4dau74gnVk#imgrc=RYtnNwQPPCQblM:


*/
